$primary-color: #0864ff;
$secondary-color: #1a1c1d;
$third-color: #fff;
$background-color: #d2e3f6;
$background1-color: #f5faff;
$background2-color: #dcecff;
$darken-primary-color: #0c4dbe;
$navbar-color: #0c1a3d;
$navbar-secondary-color: #659eff;
$sidebar-letter-color: #3b475b;
$divider-color: #e1ebf7;
$error-color: #f21313;
$modal-background-color: rgb(12 26 61 / 30%);
