@import "https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap";
@import "https://fonts.googleapis.com/css?family=Montserrat:normal";
@import "https://fonts.googleapis.com/css?family=Avenir:normal";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro";

$font: sans-serif;
$font-neoposts: "Montserrat", sans-serif;
$font-navbar: "Avenir", sans-serif;
$font-sidebar: "Source Sans Pro", sans-serif;
