@import '../../constants/colors';
@import '../../constants/fonts';
@import "../../constants/sizes";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background1-color;
  color: $sidebar-letter-color;

  &__title {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @media (max-width: $tablet) {
      font-size: 5rem;
    }

    @media (max-width: $phone) {
      font-size: 3.5rem;
    }
  }

  &__text {
    font-size: 2rem;
    font-weight: 400;
    opacity: 0.7;

    @media (max-width: $tablet) {
      font-size: 1.5rem;
    }

    @media (max-width: $phone) {
      font-size: 1rem;
    }
  }
}
