@import '../../constants/fonts';
@import '../../constants/colors';
@import "../../constants/sizes";

.containerHomeTitle {
    font-family: $font-sidebar;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHomeTitle {
    margin-top: 0px;
    position: relative;
    border-radius: 20px;
    max-width: 600px;
}

.cardHomeTitle .contentHomeTitle h2 {
    font-family: $font-sidebar2;
    font-size: 12em;
    letter-spacing: 15px;
    font-weight: 750;
    color: #ffffff;
    line-height: 1.1em;
    margin-bottom: 70px;
}

.cardHomeTitle .contentHomeTitle h2 span {
    color: #8b52ff;
}