@import '../../constants/fonts';
@import '../../constants/colors';
@import "../../constants/sizes";

.containerHome {
    font-family: $font-sidebar;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fade-in 1s ease forwards;

    @keyframes fade-in {
        from {
            opacity: 0; // Empieza con opacidad 0
        }

        to {
            opacity: 1; // Termina con opacidad 1
        }
    }
}

.cardHome {
    margin-top: 70px;
    position: relative;
    border-radius: 20px;
    max-width: 600px;
}

.cardHome .contentHome h2 {
    font-size: 3em;
    font-weight: 900;
    color: #ffffff;
    line-height: 1.1em;
    margin-bottom: 20px;
}