@import "../../constants/colors";
@import "../../constants/fonts";
@import "../../constants/sizes";

.label {
  font-family: $font;
  font-size: 1rem;
  font-weight: 550;
  margin-left: 10px;
  letter-spacing: 0.2px;

  @media (max-width: $tablet) {
    font-size: 0.9rem;
  }

  @media (max-width: $phone) {
    font-size: 0.8rem;
  }
}

.input-button {
  display: flex;
  justify-content: flex-end;
  position: relative;

  &__input {
    display: flex;
    width: 19rem;
    padding: 1rem 2.5rem 1rem 1rem;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 9px 7px 41px 0 rgb(63 98 139 / 30%);
    border: none;

    @media (max-width: $tablet) {
      width: 17rem;
      padding: 0.8rem;
      font-size: medium;
    }

    @media (max-width: $phone) {
      width: 12rem;
      padding: 0.6rem;
      font-size: small;
    }

    &--button {
      padding: 0;
      right: 0.6rem;
      bottom: 42%;
      position: absolute;
      font-size: x-large;

      @media (max-width: $tablet) {
        font-size: large;
        bottom: 47%;
      }

      @media (max-width: $phone) {
        font-size: medium;
        bottom: 49%;
      }
    }
  }
}
