.custom-dialog-title h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 35px;
}

.custom-dialog-title {
    padding-top: 0px;
    /* Ajusta el valor según sea necesario */
    padding-bottom: 0px;
    /* Ajusta el valor según sea necesario */
}

/* style.scss */
.dialog-image {
    width: 450px;
    /* Ancho fijo */
    height: calc(500px * 9 / 16);
    /* Altura calculada para mantener la relación 16:9 */
    display: inline;
    margin: 0 auto;
}

/* Cambia el fondo del diálogo a gris oscuro */
.MuiDialog-paper {
    background-color: white !important;
    /* Usamos !important para asegurarnos de que los estilos se apliquen */
}

/* Cambia el color del texto para que sea legible en el fondo oscuro */
.MuiDialogContentText-root {
    color: black !important;
    /* Cambia el color del texto aquí */
}