@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.dialog-title {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.dialog-title h1 {
    margin-left: 20px;
    margin-top: 20px;
}

.card-description h2 {
    font-family: 'Open Sans', sans-serif;
}

.card-description p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: black;
    text-align: justify;
}

.dialog-image {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 440px;
    height: calc(450px * 9 / 16);
    margin-right: 5px;
    display: inline;
    justify-content: center;
    align-items: center;
}

.MuiDialogTitle-root {
    color: black !important;
}

.MuiDialog-paper {
    background-color: white !important;
}

.MuiDialogContentText-root {
    color: black !important;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
    margin-left: 30px;
}

.card-description {
    width: 50%;
}

.right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 30px;
    margin-left: 60px;
    box-shadow: 0 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
    padding-bottom: 6%;
}

.right-container h2 {
    margin-top: 60px;
}

.right-container h2 span {
    color: #28b761;
}

.selector-container {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centrar horizontalmente */
    gap: 10px;
    /* Espacio entre elementos */
}

.map-container {
    width: 450px;
    height: calc(450px * 9 / 16);
}

.button-container {
    margin-top: 40px;
}

.card-content-personalInfo {
    display: flex;
    justify-content: center;

    .text-field-group {
        display: flex;
        flex-direction: column;
        align-items: center;

        >.MuiTextField-root {
            margin: 8px; // Ajusta el margen entre los TextField según tu preferencia
        }
    }
}

.card-content-detailReservation {
    display: flex;
}

.reservation-image {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
}

.reservation-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reservation-info {
    flex: 1;
    margin-top: 30px;
    margin-left: 30px;
}

.dialog-title-complete {
    margin-top: 70px;
    text-align: center;
}

.action-buttons {
    margin: 30px;
}