@import '../../constants/colors';
@import '../../constants/fonts';
@import "../../constants/sizes";

html {
    background-image: var(--background-image-url), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.card-home-top {
    padding-top: 0px;
    width: 100%;
    display: flex;
    max-width: 1500px;
    margin: auto;
    justify-content: space-around;
}

.card-home-show-activities {
    padding-top: 0px;
    width: 100%;
    display: flex;
    max-width: 1500px;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 300px;
}

.image {
    padding-top: 100px;
    width: 500px;
    height: 500px;
    height: auto;
}

.card-home-activities {
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-home-activities .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.card-home-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 40px;
    gap: 50px;
    max-width: 1350px;
    flex-wrap: wrap;
}

.card-info {
    display: flex;
    max-width: 1100px;
    margin: auto;
    justify-content: space-around;
}