@import '../../constants/colors';
@import '../../constants/fonts';

.login {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(74deg, $background1-color 46%, $background2-color 86%);
    display: flex;
    flex-direction: column;
    align-items: center;
}